* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-image: linear-gradient(to right, rgb(4, 37, 68) , rgb(119, 137, 218));
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  margin: 0 auto;
}



/*===========================================THIS IS THE NAVIGATION BAR FOR THE ENTIRE PAGE===========================================*/
.topnav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  background-color: rgba(4, 39, 114, 0.3);
}
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s;
}
.topnav a:hover {
  color: #000000;
}
/* Style the navigation links for smaller screens */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
  }
}



/*===========================================THIS IS THE FOOTER FOR THE ENTIRE PAGE===========================================*/
footer {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



/*===========================================THIS IS THE SCROLL BAR FOR THE ENTIRE PAGE===========================================*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #155b94;
}
::-webkit-scrollbar-thumb:hover {
  background: #0b2e4b;
}